/****** General ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border-color: #D9D9D9;
}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin-bottom: 5px;
    font-size: 22px;
}

section.block {
    margin-bottom: 35px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Main Header ***********/
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
}

#main-header .logo-container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-header #main-logo {
    height: 20px;
}

#main-header .menu-link {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    height: 100%;
    border: 2px solid transparent;
}

#main-header .menu-link:not(:first-child) {
    margin-left: 65px;
}

#main-header .menu-link:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}


/****** Search And Filter ***********/
#search-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

/* Search Bar */
#search-filter .search-form {
    display: inline-flex;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
}

#search-filter .search-icon {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

#search-filter .search-input {
    border-style: solid;
    border-width: 1px 0;
    border-color: var(--main-bg-color);
    outline: none;
}

#search-filter .search-btn {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--main-color);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

#search-filter .search-input,
#search-filter .search-btn {
    font-size: 18px;
    font-weight: 700;
    padding: 0 16px;
}

#search-filter .search-btn i {
    display: none;
}

/* Filters */
#search-filter .filter-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

#search-filter .filters-btn-container {
    display: flex;
    gap: 15px;
}

#search-filter .filter-btn {
    display: inline-flex;
    align-items: center;
    
    padding: 4px 20px;
    height: 50px;
    border: 2px solid var(--filter-border-color);
    border-radius: 25px;

    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

#search-filter .filter-btn i{
    padding-right: 10px;
}

#search-filter .filter-btn:hover {
    background-color: var(--filter-bg-color);
}

/* Info */
#search-filter .filter-info {
    font-size: 16px;
}

#search-filter .filter-info i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border: 1px solid var(--filter-border-color);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

/****** Hostings ***********/
#hostings {
    display: flex;
    justify-content: space-between;
}

#hostings section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hostings-container {
    width: 65%;
}

.hostings-container .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.hostings-container .card {
    padding: 0;
}

.hostings-container .card img {
    width: 100%;
    border: 5px solid #fff;
    border-radius: 20px 20px 0 0;
    height: 125px;
}


.hostings-container .card-content {
    padding: 0 15px 15px 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/
#activities {
    padding: 30px;
}

#activities .section-title {
    margin-bottom: 30px;
}

#activities .activities-container {
    display: flex;
    gap: 30px;
}

#activities .activity-element {
    flex: 1;
    padding: 0;
    overflow: hidden;
}

#activities .activity-visual {
    height: 380px;
    width: 100%;
    object-fit: cover;
}

#activities .activity-title {
    padding: 20px;
    font-size: 16px;
}

/****** Footer ***********/
#main-footer {
    background-color: var(--main-bg-color);
    display: flex;
}

#main-footer .footer-part {
    padding: 20px;
    flex-grow: 1;
}

#main-footer .footer-line {
    list-style-type: none;
    margin-bottom: 15px;
}

#main-footer .footer-line:last-child {
    margin-bottom: 0;
}

#main-footer .footer-part-title {
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter-container,
    #hostings {
        flex-direction: column;
    }

    .hostings-container {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    #activities .activity-visual {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* MOBILE - GENERAL */
    .main-container {
        padding: 0;
    }

    #search-filter {
        padding: 0 20px;
    }
    
    #main-header,
    #activities .activities-container,
    .cards-container,
    .populaires-cards,
    #main-footer {
        flex-direction: column;
    }

    #hostings {
        flex-direction: column-reverse;
    }

    /* MOBILE - HEADER */
    #main-menu {
        display: flex;
        justify-content: space-evenly;
    }

    #main-header .menu-link {
        width: 100%;
        padding-bottom: 15px;
        justify-content: center;
    }

    #main-header .menu-link:hover {
        border-top: none;
        border-bottom-color: var(--main-color);
    }

    #main-header .menu-link:not(:first-child) {
        margin-left: 0;
    }

    /* MOBILE - SEARCH FILTERS */
    #search-filter {
        align-items: stretch;
    }
    #search-filter .search-btn i {
        display: block;
        color: white;
    }

    #search-filter .search-btn {
        border-radius: 15px;
    }

    #search-filter .search-btn .txt {
        display: none;
    }

    #search-filter .search-form {
        display: flex;
        justify-content: space-between;
    }

    #search-filter .search-input {
        flex-grow: 1;
    }

    .filters-btn-container {
        flex-wrap: wrap;
    }

    #search-filter .filter-container {
        align-items: flex-start;
    }

    #search-filter .filters-btn-container {
        gap: 10px;
    }

    .filters-btn-container .filter-btn {
        flex-basis: calc(50% - 5px);
    }

    /* MOBILE - HOSTINGS */
    #hostings .hostings-container,
    #hostings .populaires {
        border: 1px solid red;
        padding: 0 20px;
        border-radius: 0;
    }

    #hostings .hostings-container {
        background-color: white;
    }

    .populaires-cards a {
        width: 100%;
    }
 

    /* MOBILES - HOSTINGS */
    .hostings-container .cards-container {
        display: flex;
        flex-direction: column;
    }

    /* MOBILE - FOOTER */
    #main-footer {
        padding: 30px;
        gap: 50px;
    }

    #main-footer .footer-part {
        padding: 0;
    }
}